.hero
    background: url('./images/ian1.jpg') rgba(0, 0, 0, 0.5)
    // opacity: 0.2
    height: 100vh
    width: 100%
    position: relative

    :before
        content: ''
        height: 100%
        width: 100%
        position: absolute
        top: 0
        left: 0
        z-indez: -1

.hero-text
    color: #3E80CF