.hero
    // opacity: 0.2
    height: 30vh
    width: 100%
    position: relative

.hero-title
    color: #ffffff75
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5))
    text-align: center
    position: relative
    margin: 0
    padding: 0
    top: 90px
    left: 20px
    background: transparen 
    font-family: "pragmatica", sans-serif
    font-weight: 900
    font-style: bold
    font-size: 17rem
    width: 100%
    animation: fadeInDown 5s
    animation-fill-mode: forwards


// .hero-text
//     text-align: center
//     color: #000
//     font-family: 'Poppins', sans-serif
//     width: 600px

@media (max-width: 480px)
    .hero
        width: 400px
        height: 100%
        margin: 0
        padding: 0
    
    .hero-title
        font-size: 3rem
        margin: 0
        padding: 0
        width: 400px
