.about-page
    margin: auto
    margin-top: 300px
    width: 100%
    margin-bottom: 100px

.about-container
    width: auto
    margin: 0 50px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.profile-photo
    align-self: center
    border-radius: 2rem
    height: auto
    width: 100%
    max-width: 450px
    margin-right: 20px
    filter: drop-shadow(0.15rem 0.25rem 1rem rgba(0, 0, 0, 0.5))

.about-title
    font-size: 3rem
    color: #43a07a
    margin: 0
    margin-top: 100px
    animation-duration: 1s

.about-text-container
    background-color: #fff
    color: #000
    border: 2px solid #43a07a
    border-radius: 2rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: left
    width: 100%
    padding: 15px 15px
    margin: 20px 0
    filter: drop-shadow(0.35rem 0.5rem 1rem rgba(0, 0, 0, 0.5))

.about-button
    border-radius: 2rem
    background-color: #43a07a
    border: none

    &:hover
        background-color: #000
        cursor: pointer
        color:#43a07a
        border: none

@media (max-width: 480px)
    .about-page
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0
        margin: 0
        width: auto
        gap: 20px
        margin-top: 100px
    
    .about-title
        font-size: 2rem
        width: 400px
        margin: 20px
        padding: 0
        text-align: center
    
    .about-container
        width: 400px
        padding: 0
        margin: 0
        display: flex
        flex-direction: column
        margin-bottom: 50px
        gap: 20px

    .profile-photo
        margin: 0
        padding: 0
        width: 200px

    .about-text-container
        margin: 0
        padding: 10px
        width: auto

