.about-page
    margin: auto
    width: 100%

    & .about-container
        width: 1240px
        margin: 0
        display: grid
        grid-template-columns: repeat(2, 1fr)

    & .profile-photo
        align-self: center
        height: 500px
        width: 450px

    & h2
        font-size: 3rem

    & .about-text-container
        display: flex
        flex-direction: column
        justify-content: center
        text-align: left
        width: 800px
        padding: 0
        margin: 0 20px
