@import url('https://use.typekit.net/fqe5ypl.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://use.typekit.net/fqe5ypl.css");

@font-face {
  font-family: "Grotesque";
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.ttf') format('truetype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "Grotesque Black";
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.ttf') format('truetype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.woff') format('woff');
  font-weight: bold;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: visible;
}

/* #root{
  width: 900px;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* div {
  width: 100%;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 4rem;
  font-family: flegrei, sans-serif;
  font-weight: 400;
  font-style: normal;
  animation: shadows 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 20px;
}

li {
  list-style: none;
}

@media (max-width: 480px) {
  
  h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 0 var(--color-secondary), 4px 4px 0 var(--color-tertiary),
      6px 6px var(--color-quaternary), 8px 8px 0 var(--color-quinary);
  }

  button {
    font-size: 0.8em;
    padding: 0.5em 1em;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  body {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  :root {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.hero-title {
  color: #43a07a;
  text-shadow:
    -1px -1px 0 #43a07a, 1px -1px 0 #43a07a, -1px 1px 0 #D7514D, 1px 1px 0 #D7514D,
    1px 0px 0px #3E80CF, 0px 1px 0px #3E80CF, 2px 1px 0px #3E80CF, 1px 2px 0px #3E80CF, 3px 2px 0px #3E80CF, 2px 3px 0px #43a07a, 4px 3px 0px #43a07a, 3px 4px 0px #43a07a, 5px 4px 0px #43a07a,
    3px 5px 0px #D7514D, 6px 5px 0px #D7514D,
    -1px 2px 0 #000, 0 3px 0 #43a07a, 1px 4px 0 #D7514D, 2px 5px 0px #D7514D,
    2px -1px 0 #D7514D, 3px 0 0 #D7514D, 4px 1px 0 #D7514D, 5px 2px 0px #D7514D, 6px 3px 0 #D7514D, 7px 4px 0 #D7514D,
    10px 10px 4px #E8C700;
}