.work-container
    width: 1000px
    height: 580px
    margin: 0 auto
    margin-bottom: 100px

    
.work-title
    margin: 0
    color: #D7514D
    font-size: 5rem
    margin-bottom: 20px
    animation-duration: 1s

