.work
    @media (max-width: 480px)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0
        margin: 0
        width: auto
        gap: 20px

.work-container
    width: 1000px
    height: 580px
    margin: 0 auto
    margin-bottom: 20px

    @media (max-width: 480px)
        width: 300px
        height: 180px
        margin: 0


    
.work-title
    margin: 0
    color: #D7514D
    font-size: 5rem
    margin-bottom: 20px
    animation-duration: 1s

    @media (max-width: 480px)
        font-size: 2rem
        margin: 0


